DATA_DIR=data
REST_COUNTRIES_BASE_URL=https://restcountries.com/v3.1
COMPANIES_HOUSE_BASE_URL=https://api.company-information.service.gov.uk
COMPANIES_HOUSE_API_KEY=
MERCHANT_RISK_API_BASE_URL=http://mock-api:8000
GEMINI_API_KEY=
